# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - ai-voice-translator-app

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore dependencies
        run: dotnet restore AI-Voice-Translator-SaaS.sln
        working-directory: src

      - name: Build with dotnet
        run: dotnet build AI-Voice-Translator-SaaS.sln --configuration Release --no-restore
        working-directory: src

      - name: Publish
        run: dotnet publish AI-Voice-Translator-SaaS.sln -c Release -o ${{github.workspace}}/myapp --no-build
        working-directory: src

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{github.workspace}}/myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_BF270676D5AF40D994F2635D22C662FB }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_584AE5FCBB174E808B9B5CD84D4633BC }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_940AE060C4674CFEBA4CC07290D11C70 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'ai-voice-translator-app'
          slot-name: 'Production'
          package: .
          